p {
    color: white;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    color: white;
  }
  
body {
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/vintage-wallpaper.png) repeat 0 0;    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
  }